   body{
    background-color: lightblue;
    background-image: url('./one.webp');

}



.box{
    width: 50%;
    border: solid 2px black;
    margin-left:25%;
    background-color: burlywood;
}

.white-box{
    width: 85%;
    height: 500px;
    color: black;
    border: solid 1px black;
    margin-left: 50px;
    background-color: white;
}



.box, h1, h2, p{
    background-color: burlywood;
    text-align: center;
     font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}


h1, h2{
    text-transform: uppercase;
}


.material-symbols-outlined{
    background-color: burlywood ;
}